body{
    text-align: center;
    margin: 0 0 0 0;
    font-family: 'Sacramento', cursive;
}
.btable{
    font-family: 'arial';
}
div {
    background-color: #02d8f5;
}
.top-cointainer{
    position: relative;
    padding-top: 100px;
}

.table-cointainer{
    position: relative;
    margin=auto;
    padding-top: 100px;
    background-color: rgb(0, 255, 255);
}
.mid-cointainer{
    position: relative;
    padding-top: 100px;
    background-color: antiquewhite;
}

.low-cointainer{
    position: relative;
    padding-top: 100px;
    background-color: rgb(64, 2, 114);
}
.sp{
    text-decoration: underline;
}
.top-img{
    position: absolute; 
    left:100px;
   top:50px
}

.bottom-img{
    position: absolute;
    right: 80px;
    bottom: 300px;
}
h1{
    padding: 20 20 20 20;
    font-family: 'Original Surfer', cursive;
}
.BUTTON_TTL {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    border-radius: 60px;
    color: #FFAE00;
    font-family: Georgia;
    font-size: 27px;
    font-weight: 500;
    padding: 35px;
    -webkit-box-shadow: 1px 1px 20px 0 #FFAE00;
    -moz-box-shadow: 1px 1px 20px 0 #FFAE00;
    box-shadow: 1px 1px 20px 0 #FFAE00;
    text-shadow: 10px -2px 59px #000000;
    border: outset #337FED 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_TTL:hover {
    border: ridge #FFFFFF 1px;
    background: #40E0F8;
    background-image: -webkit-linear-gradient(top, #40E0F8, #FF7309);
    background-image: -moz-linear-gradient(top, #40E0F8, #FF7309);
    background-image: -ms-linear-gradient(top, #40E0F8, #FF7309);
    background-image: -o-linear-gradient(top, #40E0F8, #FF7309);
    background-image: -webkit-gradient(to bottom, #40E0F8, #FF7309);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    
 }